<div class="row">
  <div class="col-md-8">
    <h1 class="page-title">Новости боевых действий в Украине</h1>
  </div>
  <div class="col-md4 text-right">
    <%= link_to 'Предложить новость', new_news_path, class: 'btn btn-success' %>
  </div>
</div>

<div class="news-list">
  <% @news.each do |news| %>
    <div class="news-list-item">
      <div class="row">
        <div class="col-md-9">
          <h2 class="news-list-item-title">
            <%= link_to news.title, news_path(news) %>
            <small><%= Russian::strftime(news.happened_at, '%d %B %Y в %H:%M') %></small>
          </h2>
          <div class="news-list-item-description">
            <%= news.description %>
          </div>
          <div class="news-list-item-link">
            <%= link_to 'Читать полную новость', news_path(news) %>
          </div>
        </div>
        <div class="col-md3">
          <div class="news-list-item-map" id="news-list-item-map-<%= news.id %>"></div>
          <script type="text/javascript">
            handlerMap<%= news.id %> = Gmaps.build('Google');
            handlerMap<%= news.id %>.buildMap({
              provider: {
                zoom: 13,
                center: new google.maps.LatLng(<%= news.location.lat %>, <%= news.location.lng %>),
                mapTypeId: google.maps.MapTypeId.TERRAIN
              },
              internal: { id: 'news-list-item-map-<%= news.id %>' }
            }, function() {
              centralMarker = new google.maps.Marker({
                'map': handlerMap<%= news.id %>.getMap(),
                'position': handlerMap<%= news.id %>.getMap().getCenter(),
                'animation': google.maps.Animation.DROP,
                'title': 'Центр события'
              })
            });
          </script>
        </div>
      </div>
    </div>
  <% end %>

  <div class="news-list-pagination">
    <%= will_paginate @news, renderer: BootstrapPagination::Rails %>
  </div>
</div>
